.title {
  display: inline;
}

.add {
  margin-bottom: 2em;
}

.question-content {
  border-top: 1px solid black;
}

.edit {
  margin-top: 1em;
}

.edit-form {
  margin-top: 1em;
}

.delete {
  margin-top: 1em;
  display: inline;
}

.button-inline {
  display: inline;
}

.line-up {
  margin-top: 1em;
}
.name {
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
}

.answer {
  margin-bottom: 1em;
}

.answer-body {
  margin-top: .5em;

}

.center-text {
  text-align: center;
}
.center-div {
  margin: 0 auto 0 auto;
}
