<nav class="navbar navbar-default nabar-fixedtop">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class='navbar-brand'}}Quora-Ember-Clone{{/link-to}}
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class='container'>
  {{outlet}}
</div>
